$color-text: #F0F8FF;
@font-face {
  font-family: 'LucidaBold';
  src: url('fonts/LucidaSansTypewriterBold.woff2') format('woff2'),
  url('fonts/LucidaSansTypewriterBold.woff') format('woff');
}
@font-face {
  font-family: 'Lucida';
  src: url('fonts/LucidaSansTypewriterRegular.woff2') format('woff2'),
  url('fonts/LucidaSansTypewriterRegular.woff') format('woff');
}
@import "landing";
@import "asteroids";
@import "search";
@import "data";
@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
html{
  font-size: 10px;
}
body{
  font-family: 'Open Sans', sans-serif !important;
  color: black;
  background-color: black !important;
}
.search{
  right: 12%;
  top: 10px !important;
}
.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:235%;
  display:block;
  z-index: -2;
}

.stars {
  background:#000 url(../images/stars.png) repeat top center;
}

.twinkling{
  background:transparent url(../images/twinkling.png) repeat top center;

  animation:move-twink-back 400s linear infinite;
}
.searchbar {
  float: right;
  background-color: transparent;
  color: black;
  padding: 6px 10px;
  width: 350px;
  border: none;
  margin-top: 1px;
  margin-right: 8px;
  font-size: 2em;
  font-weight: bold;
  border-bottom: black solid 2px;
  transition: 0.3s;
}

.searchbar::placeholder {
  color: black;
  opacity: .5;
  font-size: 1em;
  font-weight: bold;
}

.searchbar:focus {
  font-weight: bold;
  transition: 0.3s;
  outline: none;
}

.btn-search {
  cursor: pointer;
  color: black;
  text-decoration: none !important;
  font-size: 2em;
  padding-top: 5px;
  margin-right: 40px;
}
.search-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  padding-bottom: 15px;
  padding-top: 10px;
}
.search{
  top: 16vh !important;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
