$color-text: #F0F8FF;
@font-face {
  font-family: 'LucidaBold';
  src: url('fonts/LucidaSansTypewriterBold.woff2') format('woff2'),
  url('fonts/LucidaSansTypewriterBold.woff') format('woff');
}
@font-face {
  font-family: 'Lucida';
  src: url('fonts/LucidaSansTypewriterRegular.woff2') format('woff2'),
  url('fonts/LucidaSansTypewriterRegular.woff') format('woff');
}
@import "landing";
@import "asteroids";
@import "search";
@import "data";
@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
html{
  font-size: 10px;
}
body{
  font-family: 'Open Sans', sans-serif !important;
  color: black;
}
.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:235%;
  display:block;
  z-index: -2;
}

.stars {
  background:#000 url(../images/stars.png) repeat top center;
}

.twinkling{
  background:transparent url(../images/twinkling.png) repeat top center;

  animation:move-twink-back 400s linear infinite;
}
.searchbar {
  float: right;
  background-color: transparent;
  color: black;
  padding: 6px 10px;
  width: 350px;
  border: none;
  margin-top: 1px;
  margin-right: 8px;
  font-size: 2em;
  font-weight: bold;
  border-bottom: black solid 2px;
  transition: 0.3s;
}

.searchbar::placeholder {
  color: black;
  opacity: .5;
  font-size: 1em;
  font-weight: bold;
}

.searchbar:focus {
  font-weight: bold;
  transition: 0.3s;
  outline: none;
}

.btn-search {
  cursor: pointer;
  color: black;
  text-decoration: none !important;
  font-size: 2em;
  padding-top: 5px;
  margin-right: 40px;
}
.search-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  padding-bottom: 15px;
  padding-top: 10px;
}