.data{
  &__hero{
    background: url(../images/asteroid-background.gif) center no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 7px;
    font-family: 'Lucida', sans-serif;
    color: tan;
    text-transform: uppercase;
  }
  &__number{
    font-weight: 700;
    font-size: 8rem;
    letter-spacing: 19px;
    font-family: 'Lucida', sans-serif;
    color: tan;
    text-transform: uppercase;
    opacity: .9;
    position: absolute;
    bottom: 0;
    left: 5vh;
  }
  &__close{
    color: black;
    font-size: 5rem;
    font-weight: 700;
    position: absolute;
    top: 20px;
    left: 40px;
    font-family: 'Lucida', sans-serif;
    z-index: 10;
    cursor: pointer;
    opacity: .8;
  }
  &__container{
    padding-top: 130px;
    padding-left: 50px;
  }
  &__class{
    position: absolute;
    right: 130px;
    top: 15%;
    font-size: 25rem;
    font-weight: 700;
    color: black;
    opacity: .6;
  }
  &__information{
    font-size: 2.2rem;
    font-family: 'Lucida', sans-serif;
    & div{
      width: 50%;
    }
  }
  &__value{
    font-size: 2.2rem;
    position: absolute;
    right: 70px;
    bottom: 20px;
    font-family: 'Lucida', sans-serif;
    color: green;
    & p span{
      font-weight: 600;
    }
  }
  &__error{
    & div {
      letter-spacing: 9px;
      font-family: 'Lucida', sans-serif;
      font-size: 5rem;
      text-transform: uppercase;
      font-weight: 600;
      color: black;
      margin-bottom: 10vh;
    }
  }
  &__image{
    & div img{
      object-fit: cover;
    }
  }
  &__elements{
    position: absolute;
    top: 20px;
    right: 40px;
    & img {
      height: 60px;
    }
  }
}